.navigation {
  transition: .2s ease;

  &.nav-bg {
    background: $white;
    @extend .shadow;

    @include desktop {
      top: -50px;
    }
  }

  .form-inline button {
    transition: 0s;
  }

  @include desktop {
    .form-inline {
      cursor: pointer;
      margin: 0 10px 0 auto !important;

      button {
        padding: 10px;
        position: static;
        transform: none;
      }
    }

    .navbar-toggler {
      width: 30px;
      margin: 0px;
      padding: 0px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      i {
        color: $text-dark;
        font-size: 20px;
      }

      .fa-xmark {
        display: none;
      }

      .fa-bars {
        display: block;
      }

      &[aria-expanded="true"] {
        i {
          display: none;
        }

        .fa-xmark {
          display: block;
        }
      }
    }
  }
}

.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-dark;

  &:hover {
    color: $color-primary;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-size: 15px;
  font-weight: 500;

  @include desktop {
    padding: 10px;
    display: block;
  }
}

#select-language {
  border: 1px solid $border-color;
  background: transparent;
}